<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>書籍頁</h1>
<form th:action="@{/addBook}" th:object="${book}" method="POST">
    <div>
        <label for="name">書籍名稱:</label>
        <input type="text" th:field="*{name}"/>
        <div th:if="${#fields.hasErrors('name')}" 
         th:errors="*{name}"></div>
    </div>
    <div>
        <label for="author">作者:</label>
        <input type="text" th:field="*{author}"/>
        <div th:if="${#fields.hasErrors('author')}" 
         th:errors="*{author}"></div>
    </div>
    <div>
        <label for="imgName">圖檔名稱:</label>
        <input type="text" th:field="*{imgName}"/>
    </div>
    <div>
        <button type="submit">新增書籍</button>
    </div>
</form>
<div th:replace="~{layout/common :: footer}"></div>
</body>
</html>